body {
    margin: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 175px;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #B2E6D4;
    color: #2b2839;
    border-bottom: 8px solid #FFB563;
    border-top: 6px dashed #247B7B;
    border-radius: ;
}


.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

